* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
  padding: 3px;
}

/* new styles at top*/
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.915);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#overlayContent {
  position: relative;
  padding: 20px;
  text-align: center;
  overflow: hidden;
  position: relative;
}
#reader {
  left: 50%;
  transform: translateX(-50%);
}

#closeButton {
  position: absolute;
  background-color: rgba(255, 0, 0, 0.5);
  border: 2px solid rgba(255, 0, 0, 0.5);
  color: white;
  border-radius: 5px;
  width: 25px;
  height: 25px;
  top: 10px;
  right: 10px;
}
.overrideup-area,
.overridedown-area {
  position: relative;
  width: 100%;
}

/* till here*/

body {
  background: #1c2951;
  color: #fff;
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 400;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.hero-banner {
  display: flex;
  cursor: pointer;
  justify-content: center;
  text-decoration: none;
}

.hero-text {
  margin-left: 5px;
  font-family: "Space Grotesk", sans-serif;
  display: flex;
  align-self: center;
  font-weight: 600;
}
.header {
  padding-top: 0px;
}
.d1 {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
.footer {
  /* bottom: 15px; */
  margin-top: 20vh;
  padding-bottom: 10px;
  /* left: 50%; */
  /* transform: translateX(-50%); */
}
.footer-banner {
  min-width: 250px;
  background-color: rgba(0, 0, 0, 0.34);
  border-radius: 10px;
  text-align: center;
  font-size: 1.1em;
  color: #ccc;
  width: 40vw;
  margin: 0 auto;
  padding: 20px 10px;
}
.coder {
  font-weight: bold;
  text-decoration: none;
  color: #ccc;
}
.coder:hover,
.coder:active {
  color: white;
}
@media only screen and (max-width: 767px) {
  .content {
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .hero-text {
    font-size: 2.4em;
  }
  .drop-container {
    text-align: center;
    font-size: 2.1em;
    font-weight: bold;
    font-family: sans-serif;
    color: #ccccccca;
    padding: 20px;
    margin-top: 5px;
    border: 2px dashed #ccccccca;
    border-radius: 10px;
    cursor: pointer;
  }
  .highlight {
    border-color: #4caf50;
  }
  .zone-text {
    margin: 20px 0;
    text-align: center;
    font-weight: bold;
    font-size: 1.7em;
  }
  .drop-title {
    padding: 30px;
    align-self: center;
    top: 50%;
  }
  .upload-area {
    width: 100%;
    padding-bottom: 10px;
  }
  .download-area {
    border-top: 2px dashed #ccccccca;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  input {
    margin: 0 auto;
    font-family: "Space Grotesk";
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.7em;
    padding: 15px;
    width: 70vw;
    display: block;
  }
  .or {
    margin: 10px 0;
    font-size: 1.6em;
  }
  .code-qr {
    background-color: rgba(58, 58, 206, 0.717);
    margin: 0 auto;
    font-family: "Space Grotesk";
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    font-size: 1.7em;
    padding: 15px;
    width: 70vw;
    display: block;
  }
  .footer {
    margin-top: 5vh;
  }
  .footer-banner {
    font-size: 0.9em;
    width: 80%;
    margin-top: 5vh;
    margin-bottom: 7px;
  }
}
@media only screen and (min-width: 768px) {
  .content {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .drop-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;
    font-family: sans-serif;
    font-size: 2.2em;
    font-weight: bold;
    min-width: 272px;
    min-height: 30vh;
    justify-content: center;
    color: #ccccccca;
    margin-top: 5px;
    cursor: pointer;
    border: 2px dashed #ccccccca;
    border-radius: 10px;
  }
  .highlight {
    border-color: #4caf50;
  }
  .hero-text {
    font-size: 2.9em;
  }
  .zone-text {
    margin-bottom: 35px;
    text-align: center;
    font-size: 2.1em;
    font-weight: bold;
  }
  .upload-area {
    width: 33%;
    min-width: 290px;
    padding-right: 15px;
    padding-bottom: 15px;
    border-right: 2px dashed #ccccccca;
  }
  .drop-title {
    padding: 40px;
    /* align-self: center; */
    /* text-align: center; */
  }
  .download-area {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
  }
  input {
    font-family: "Space Grotesk";
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-size: 2.1em;
    padding: 15px;
    min-width: 220px;
    width: 17vw;
    display: block;
  }
  .or {
    margin: 10px 0;
    font-size: 1.8em;
  }
  .code-qr {
    background-color: rgba(58, 58, 206, 0.717);
    cursor: pointer;
    font-family: "Space Grotesk";
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    font-size: 2em;
    padding: 15px;
    min-width: 220px;
    width: 17vw;
    display: block;
  }
}
